// Machine-specific input configuration.
// Keep keyboard, touchpad, mouse, and trackpoint tuning here.

input {
    // Focus windows and outputs automatically when moving the cursor into them.
    focus-follows-mouse

    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.5
        accel-profile "adaptive"
    }

    mouse {
        accel-speed -0.5
        accel-profile "flat"
    }

    trackpoint {
        // off
        // natural-scroll
        accel-speed -0.5
        accel-profile "adaptive"
        scroll-method "on-button-down"
        scroll-button 274
        scroll-button-lock
        // left-handed
        // middle-emulation
    }
}