// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "autostart.kdl"
include "binds.kdl"
include "general.kdl"
include "input.kdl"
include "layout.kdl"
include "monitors.kdl"
include "rules.kdl"
include "theme.kdl"
