input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.5
        accel-profile "adaptive"
    }

    mouse {
        accel-speed 0.2
        accel-profile "flat"
    }

    //trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // left-handed
        // middle-emulation
    //}
}