// example configurations, run niri msg outputs and configure your monitor yourself
// its sad that niri currently does not support auto monitor configuration like hyprland :(
// ignore notes ending with *

/*
// eDP-3
// ASUS*
output "DP-3" {
    mode "2560x1440@165.000"
    scale 1.0 // optional
    variable-refresh-rate // recommended
    focus-at-startup
}

// eDP-1 is mostly used on laptops
// ThinkPad*
output "eDP-1" {
    mode "1920x1200@60.003"
    scale 1.0
    variable-refresh-rate
    focus-at-startup
}
*/
